
:root {
    --primary: #CD853F;
    --secondary: #A52A2A;
    --bg-body: #ffffff;     
    --bg-alt: #f8f9fa;       
    --text-main: #2d2d2d;    
    --card-bg: #ffffff;      
    --nav-bg: rgba(255, 255, 255, 0.95);
    --border-color: #e2e8f0;
}


body.dark-mode {
    --bg-body: #121212;
    --bg-alt: #1e1e1e;
    --text-main: #8a8585;
    --card-bg: pink;
    --nav-bg: rgba(18, 18, 18, 0.95);
    --border-color: #333333;
}


body {
    background-color: var(--bg-body);
    color: var(--text-main);
    transition: background 0.3s ease, color 0.3s ease; 
}

section {
    background-color: var(--bg-body);
    border-bottom: 1px solid var(--border-color);
}


.project-card, .card {
    background-color: var(--card-bg) !important;
    border: 1px solid var(--border-color);
    color: var(--text-main);
}

nav {
    background: var(--nav-bg);
}

nav a {
    color: var(--text-main);
}



h1, h2, h3 {
    color: var(--text-main);
}

p {
    color: var(--text-main);
}

footer {
    background: var(--dark);
    color: white;
}


.card p, .project-info p {
    color: var(--text-muted); 
}

input, textarea {
    background: var(--bg-body);
    color: var(--text-main);
    border: 1px solid var(--border-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--light);
    color: var(--dark);
    line-height: 1.6;
}

.container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 20px;
}

section {
    padding: 100px 0;
    border-bottom: 1px solid #e2e8f0;
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    text-align: center;
    color: var(--primary);
}
header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}


nav {
    background: rgba(255, 255, 255, 0.95);
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    font-weight: 800; 
    font-size: 1.2rem;
    text-align: left;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 15px;
    text-align: right;
}

nav a {
    text-decoration: none;
    color: var(--dark);
    font-weight: 600;
    transition: 0.3s;
}

nav a:hover {
    color: var(--primary);
}


#home {
    height: 100vh;
    display: grid;
    align-items: center;
    text-align: center;
    background: linear-gradient(195deg, #F0EAD6 50%, #ffffff 100%);
}

.hero-content h1 {
    font-size: 3.5rem;
    margin-bottom: 15px;
}

.hero-content span {
    color: var(--primary);
}

.cta-btn {
    display: inline-block;
    margin-top: 25px;
    padding: 12px 30px;
    background: var(--primary);
    color: white;
    text-decoration: none;
    border-radius: 50px;
    font-weight: bold;
    transition: 0.3s;
}

.cta-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(79, 70, 229, 0.4);
}

.about-flex {
    display: flex;
    align-items: center;
    gap: 50px;
}

.about-text {
    flex: 1;
}

.about-image img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
    background: #ddd;
}

.card-container {
      display: flex;
      flex-wrap: wrap;
      gap: 15px;
    }
    .card {
      border: 1px solid #ddd;
      border-radius: 2px;
      padding: 15px;
      width: 20px;
      box-shadow: 0 2px 5px rgba(0,0,0,0.1);
      text-align: center;
      background-color: pink;
    }
    .card img {
      width: 200px;
      height: 180px;
      border-radius: 5px;
    }
    .card h2 {
      margin: 10px 0 3px;
      font-size: 18px;
    }
    .card p {
      font-size: 14px;
      color: #555;
    }
.card-container {
  display: flex;
  flex-direction: column; 
  gap: 20px;              
  padding: 10px;
  align-items: center;    
}

.card {
  width: 40%;             
  max-width: 400px;
}



.container {
  margin: 10px; 
}

@media (min-width: 600px) {
  .card-container {
    flex-direction: column;
    flex-wrap: wrap;      
    justify-content: center;
  }
  
  .card {
    width: 40%;           
  }
}

@media (min-width: 1024px) {
  .card-container {
    flex-direction: row;  
    flex-wrap: nowrap;   
    justify-content: space-around;
  }

  .card {
    width: 30%;           
  }
}

.card-container {
      display: flex;
      gap: 15px;
      flex-wrap: wrap;
    }
    .card {
      border: 1px solid #ccc;
      border-radius: 8px;
      padding: 10px;
      width: 350px;
      text-align: center;
      box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    }
    .card img {
      max-width: 100%;
      border-radius: 5px;
    }
 
.tag-container {
    margin: 25px 0;
}

.tag {
    font-size: 0.8rem;
    background: #eef2ff;
    color: var(--primary);
    padding: 4px 10px;
    border-radius: 4px;
    margin-right: 5px;
}


#contact h1 {
  text-align: center;
  margin-bottom: 40px;
}

.contact-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
}

.contact-info {
  flex: 1;
  min-width: 250px;
}

.contact-info h2 {
  margin-bottom: 20px;
}

.contact-info p {
  margin: 10px 10px;
  font-size: 16px;
  margin-left: 100px;
}

.contact-form {
  flex: 1;
  min-width: 250px;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.contact-form button {
  padding: 10px;
  border: none;
  border-radius: 8px;
  background: #CD853F;
  color: white;
  cursor: pointer;
}

.contact-form button:hover {
  background: #CD853F;
}

footer {
    background: var(--dark);
    color: white;
    padding: 40px 0;
    text-align: center;
}


.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.menu-icon, .menu-close {
    display: none; 
    font-size: 1.8rem;
    cursor: pointer;
    color: var(--text-main);
}


@media (max-width: 1024px) {
    .nav-wrapper {
        justify-content: center; 
    }

    .menu-icon {
        display: block;
        position: absolute;
        left: 20px; 
    }

    .nav-links {
        position: fixed;
        top: 0;
        left: -100%; 
        width: 260px;
        height: 100vh;
        background: var(--bg-body);
        display: flex;
        flex-direction: column; 
        align-items: flex-start;
        padding: 100px 40px;
        transition: 0.4s ease-in-out;
        box-shadow: 10px 0 20px rgba(0,0,0,0.2);
        z-index: 1001;
        list-style: none;
    }

    
    .nav-links.active {
        left: 0;
    }

    .menu-close {
        display: block;
        position: absolute;
        top: 25px;
        right: 25px;
    }

    .nav-links li {
        margin: 20px 0;
    }
}


@media (min-width: 1025px) {
    .nav-links {
        display: flex;
        gap: 30px;
        list-style: none;
        align-items: center;
    }
    
    .nav-logo {
        margin-right: auto; 
    }
}

@media (max-width: 768px) {
    
    .nav-wrapper {
        justify-content: center;
        position: relative;
    }

    
    .card-container {
        flex-direction: column;
        align-items: center;
        padding: 10px;
        gap: 30px; 
    }

    
    .card {
        width: 95% !important; 
        max-width: none;
        padding: 25px 15px;
        background-color: var(--card-bg);
        border-radius: 15px;
        box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    }

    
    .card img {
        width: 80px !important; 
        height: 80px !important;
        object-fit: contain;
        margin-bottom: 15px;
    }

    
    .card p {
        font-size: 14px;
        line-height: 1.6;
        text-align: justify;
        padding: 0 10px;
        color: var(--text-main);
    }

    
    .about-flex {
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }

    .about-image img {
        width: 100%;
        max-width: 250px;
        height: auto;
    }

    
    .project-grid {
        grid-template-columns: 1fr !important;
        gap: 20px !important;
    }

    
    .contact-wrapper {
        grid-template-columns: 1fr;
        gap: 30px;
    }
}